<footer class="footer">
  <div class="big-container footer__container">
    <a href="#" class="footer__logo">ALPINE</a>
    <div class="footer__items">
      <div class="footer__item">
        <div class="footer__title">EXPLORE</div>
        <ul class="footer__menu menu-footer list-reset">
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Pricing</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Mobile</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <div class="footer__title">RECOURCES</div>
        <ul class="footer__menu menu-footer list-reset">
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Blog</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <div class="footer__title">Company</div>
        <ul class="footer__menu menu-footer list-reset">
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">About us</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__end">
      <div class="footer__social social-footer">
        <a href="#" class="social-footer__link social-footer__link_vk" aria-label="vk">
          <svg aria-hidden="true">
            <use href="img/sprite.svg#vk"></use>
          </svg>
        </a>
        <a href="#" class="social-footer__link social-footer__link_twitter" aria-label="twitter">
          <svg aria-hidden="true">
            <use href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
        <a href="#" class="social-footer__link social-footer__link_facebook" aria-label="facebook">
          <svg aria-hidden="true">
            <use href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </div>
      <a href="#" class="footer__terms-privacy">Terms & Privacy</a>
      <div class="footer__copy">© 2019 Threads Group inc.</div>
    </div>
  </div>
</footer>
