<header class="header">
  <div class="big-container header__container">
    <a href="#" class="header__logo">ALPINE</a>
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">ABOUT US</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">PRICING</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">MOBILE</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">BLOG</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
